@import url('https://fonts.googleapis.com/css?family=League+Script');
@import url('https://fonts.googleapis.com/css?family=League+Script|Open+Sans+Condensed:300');
h1{
  font-family:League Script;
  text-align: center;
}
svg{
  background:linear-gradient(#f2f2f2,#999999)
}
body{
  background-color: white;
}
button{
  border-radius: 12px;
  font-family:Open Sans Condensed;
  color:black;
  font-size: 15px;
}
